.Title {
  font-weight: bold;
  color: #FFF0F5;
  font-size: 250%;
  text-align: left;
  padding: 15px;
  background-image: linear-gradient(to bottom, #7e57c2 30%, #ba68c8 90%); /*粉紫#E6E6FA 淡粉#FFF0F5 爱丽丝蓝#F0F8FF*/
  font-family: "Georgia", serif
}

.aParent {
	display: flex;
	border: 3px solid #fff;
  background-image: linear-gradient(to right, #bbdefb 30%, #F0F8FF 90%);
}

.calendar-layout {
  width: 75%;
  float: left;
  padding: 20px;
  border: 1.5px solid #87CEFA; /*淡天蓝#87CEFA*/
}  

.widget-container {
  width: 25%;
  float: left;
  padding: 20px;
  border: 1.5px solid #87CEFA; /*淡天蓝#87CEFA*/
}  

.option {
  display: flex;
}

.option > span {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.option .selector {
  background: #FFF0F5;  
}

.option .caption {
	font-weight: bold;
  font-size: 135%;
  margin-left: 10px;
  margin-right: 10px;

  font-family: "Times New Roman", Times, serif;
}

.option .button {
  /*margin-left: 105px;*/
  padding: 0 120px;
}

.dx-scheduler {
  margin-top: 20px;
  margin-right: 10px;
}

.header .caption {
	font-weight: bold;
  font-size: 120%;
  font-family: "Georgia", serif;
}

.header {
  margin-top: 10px;
  padding: 15px;
  background: linear-gradient(to bottom, #eceff1 30%, #F0F8FF 90%);
}
